{% load socialaccount %}
<!doctype html>
<html>
  <head>
    <title>Getting Started with Django and Webpack</title>
  </head>
  <body>
    {% block content %}
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !! </p>
    <p>Welcome {{ user}} !! </p>

    <p>Welcome {{ user.email }} !! </p>
    <a href="{% url 'account_logout' %}">Logout</a>

    {% else %}
    <a href="{% url 'account_login' %}">Sign In</a>
    <a href="{% url 'account_signup' %}">Sign Up</a>

    {% endif %}
    {% endblock %}
  </body>
</html>
<!-- 
743547745613-46fesv8rv6kq075idhu1ucjs58ljaaca.apps.googleusercontent.com
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 -->